.root {
	display: flex;
	height: 100vh;
}

.content {
	margin: auto;
}

.title {
	text-align: center;
	color: white;
}

.createGame {
	margin: 20px auto 0;
	padding: 16px 24px;
	line-height: 1.15;
	font-size: 20px;
	font-weight: bold;
	color: white;
	background: #ec407a;
	border-radius: 8px;
	transition: color 0.3s, background 0.3s, transform 0.3s;
	
	&:hover {
		color: #ec407a;
		background: white;
	}
	
	&:active {
		transform: translateY(-2px);
	}
}
